.vote {
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.vote .vote-category {
  float: left;
  width: 380px;
  margin: 0 10px;
}

.vote form {
  float: left;
  width: 50%;
  font-size: 12px;
  text-align: center;
}

.vote fieldset div {
  height: 50px;
}

.vote input {
  display: block;
  margin: 0 auto 5px;
}

.vote h3 {
  width: 100%;
  border-bottom: 1px solid #232323;
}

.vote .vote--nominees,
.vote .vote-forms {
  float: left;
}

.vote .vote-forms {
  width: 25%;
}

.vote .heading {
  margin-bottom: 5px;
}

.vote .vote--nominees {
  width: 75%;
  padding-top: 17px;
}

.vote .vote--nominee {
  height: 50px;
}

.vote .vote--nominee-secondary {
  font-size: 12px;
}
